include AUTHORS.rst
include README.rst
include LICENSE
recursive-include share *
recursive-include blohg/templates *
recursive-include blohg/repo_template *
recursive-include docs *
prune docs/_build
include docs/_build/.keep
