include babel.cfg
include README.rst
include LICENSE
include messages.pot
recursive-include blohg/translations *
recursive-include blohg/themes *
recursive-include blohg/templates *
recursive-include share *
