{%- extends 'posts.html' %}

{%- block opengraph_header %}
{%- if config.OPENGRAPH %}
<meta prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article#" />
<meta property="og:site_name" content="{{ config.TITLE }}" />
<meta property="og:url" content="{{ request.url }}" />
<meta property="og:title" content="{{ config.TITLE }}{% if title %} » {{
    title }}{% endif %}" />
<meta property="og:description" content="{% if meta and meta.description %}{{
    meta.description }}{% elif tag %}Tag: {{ ' + '.join(tag) }}{% else %}{{
    config.TAGLINE }}{% endif %}" />
{%- if meta %}
{%- for image in meta.images %}
<meta property="og:image" content="{{ image }}" />
{%- endfor %}
{%- if is_post(current_path) %}
<meta property="og:type" content="article" />
<meta property="article:published_time" content="{{
    meta.datetime.strftime('%Y-%m-%dT%H:%M:%SZ') }}" />
{%- if meta.mdatetime %}
<meta property="article:modified_time" content="{{
    meta.mdatetime.strftime('%Y-%m-%dT%H:%M:%SZ') }}" />
{%- endif %}
{%- endif %}
{%- if meta.tags %}
{%- for tag in meta.tags %}
<meta property="article:tag" content="{{ tag }}" />
{%- endfor %}
{%- endif %}
{%- endif %}
{%- endif %}
{%- endblock %}

{%- block disqus_header %}
{%- if is_post(current_path) and config.DISQUS %}
<script type="text/javascript">
    var disqus_shortname = "{{ config.DISQUS }}";
    var disqus_url = "{{ request.url }}";
    {%- if config.DISQUS_DEVELOPER %}
    var disqus_developer = 1;
    {%- endif %}
</script>
{%- endif %}
{%- endblock %}

{%- block disqus_post %}
{%- if is_post(current_path) and config.DISQUS %}
<div id="disqus_thread"></div>
<script type="text/javascript">
    (function() {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = 'http://{{ config.DISQUS }}.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>
    Please enable JavaScript to view the
    <a href="http://disqus.com/?ref_noscript={{ config.DISQUS }}">
        comments powered by Disqus.
    </a>
</noscript>
<a href="http://disqus.com" class="dsq-brlink">
    blog comments powered by <span class="logo-disqus">Disqus</span>
</a>
{%- endif %}
{%- endblock %}

{%- block disqus_footer %}
{%- if config.DISQUS %}
<script type="text/javascript">
    //<![CDATA[
    (function() {
        var links = document.getElementsByTagName('a');
        var query = '?';
        for(var i = 0; i < links.length; i++) {
            if(links[i].href.indexOf('#disqus_thread') >= 0) {
                query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
            }
        }
        document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/{{ config.DISQUS }}/get_num_replies.js' + query + '"></' + 'script>');
    })();
    //]]>
</script>
{%- endif %}
{%- endblock %}

{%- block pagination %}
{%- if pagination %}

<div class="pagination">
    {%- if pagination.current != 1 %}
    <a href="{{ pagination.url_gen(1) }}">&lt;&lt;</a>
    {%- else %}
    &lt;&lt;
    {%- endif %} |
    {%- if pagination.current > 1 %}
    <a href="{{ pagination.url_gen(pagination.current-1) }}">&lt;</a>
    {%- else %}
    &lt;
    {%- endif %} |
    {%- for i in range(1, pagination.num_pages + 1) %}
    {%- if pagination.current != i %}
    <a href="{{ pagination.url_gen(i) }}">
        {{ i }}
    </a> |
    {%- else %}
    {{ i }} |
    {%- endif %}
    {%- endfor %}
    {%- if pagination.current < pagination.num_pages %}
    <a href="{{ pagination.url_gen(pagination.current+1) }}">&gt;</a>
    {%- else %}
    &gt;
    {%- endif %} |
    {%- if pagination.current != pagination.num_pages %}
    <a href="{{ pagination.url_gen(pagination.num_pages) }}">&gt;&gt;</a>
    {%- else %}
    &gt;&gt;
    {%- endif %}
</div>
{%- endif %}
{%- endblock %}
